<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="fill_parent"
    android:layout_height="wrap_content"
    android:background="@color/Background"
    android:orientation="vertical">

  <android.support.v7.widget.SearchView
      android:id="@+id/search"
      android:layout_width="match_parent"
      android:layout_height="wrap_content"
      android:background="@color/PrimaryHeader"
      android:queryHint="@string/search_hint" />

  <android.support.constraint.ConstraintLayout
      android:id="@+id/lyt_content"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      app:layout_constraintBottom_toBottomOf="parent"
      app:layout_constraintLeft_toLeftOf="parent"
      app:layout_constraintRight_toRightOf="parent"
      app:layout_constraintTop_toBottomOf="@+id/appbar">


    <ImageView
        android:id="@+id/img_header_icon"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:contentDescription="@null"
        android:padding="10dp"
        android:tint="@color/LightGrey"
        app:layout_constraintLeft_toLeftOf="parent"
        app:layout_constraintTop_toTopOf="parent"
        app:srcCompat="@drawable/ic_people_white_24dp" />

    <TextView
        android:id="@+id/txt_title"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:layout_marginTop="3dp"
        android:fontFamily="sans-serif-medium"
        android:textColor="@color/White"
        android:textSize="14sp"
        app:layout_constraintLeft_toRightOf="@+id/img_header_icon"
        app:layout_constraintTop_toTopOf="parent" />

    <TextView
        android:id="@+id/txt_sub_title"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:fontFamily="sans-serif-medium"
        android:textColor="@color/LightGrey"
        android:textSize="12sp"
        app:layout_constraintLeft_toRightOf="@+id/img_header_icon"
        app:layout_constraintTop_toBottomOf="@+id/txt_title" />

    <View
        android:layout_width="0dp"
        android:layout_height="0dp"
        android:layout_gravity="center_horizontal"
        android:background="@color/SecondaryHeader"
        android:translationZ="-1dp"
        app:layout_constraintBottom_toTopOf="@+id/div"
        app:layout_constraintLeft_toLeftOf="parent"
        app:layout_constraintRight_toRightOf="parent"
        app:layout_constraintTop_toTopOf="parent" />

    <View
        android:id="@+id/div"
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:layout_gravity="center_horizontal"
        android:background="@color/Div_Header"
        app:layout_constraintLeft_toLeftOf="parent"
        app:layout_constraintRight_toRightOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/img_header_icon" />

    <TextView
        android:id="@+id/txt_warning"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_horizontal"
        android:text="@string/not_set"
        android:textColor="@color/White"
        android:visibility="gone"
        app:layout_constraintLeft_toLeftOf="parent"
        app:layout_constraintRight_toRightOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/div" />

    <android.support.v7.widget.RecyclerView
        android:id="@+id/content_recycler"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        app:layout_constraintBottom_toBottomOf="parent"
        app:layout_constraintLeft_toLeftOf="parent"
        app:layout_constraintRight_toRightOf="parent"
        app:layout_constraintTop_toBottomOf="@+id/div">


    </android.support.v7.widget.RecyclerView>

  </android.support.constraint.ConstraintLayout>

  <com.syncfusion.sfbusyindicator.SfBusyIndicator
      android:id="@+id/busyIndicator"
      android:layout_width="match_parent"
      android:layout_height="100dp"
      android:layout_gravity="center"
      android:fillViewport="true"
      android:textColor="@color/Accent"
      android:visibility="visible"/>

  <LinearLayout
      android:id="@+id/lyt_button"
      android:layout_width="match_parent"
      android:layout_height="match_parent"
      android:layout_weight="1"
      android:background="@color/Content"
      android:gravity="end"
      android:orientation="horizontal">

    <Button
        android:id="@+id/btn_cancel"
        style="@style/Widget.AppCompat.Button.Borderless.Colored"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="@string/cancel"
        android:textColor="@color/Warning" />

    <Button
        android:id="@+id/btn_save"
        style="@style/Widget.AppCompat.Button.Borderless.Colored"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="@string/save" />

  </LinearLayout>
</LinearLayout>
